[global_tags]
[agent]
  interval = "10s"
  round_interval = true
  metric_batch_size = 1000
  metric_buffer_limit = 10000
  collection_jitter = "0s"
  flush_interval = "10s"
  flush_jitter = "0s"
  precision = ""
  debug = false
  quiet = false
  logfile = "telegraf.log"
  hostname = "{{ inventory_hostname }}"
  omit_hostname = false
[[outputs.influxdb]]
  retention_policy = ""
  write_consistency = "any"
  timeout = "5s"
  username = "{{ influxdb_admin_user }}"
  password = "{{ influxdb_admin_password }}"
[[inputs.cpu]]
  percpu = true
  totalcpu = true
  collect_cpu_time = false
[[inputs.disk]]
  ignore_fs = ["tmpfs", "devtmpfs", "devfs"]
[[inputs.diskio]]
[[inputs.kernel]]
[[inputs.mem]]
[[inputs.processes]]
[[inputs.swap]]
[[inputs.system]]
{% if 'tick' in group_names %}
[[inputs.cloudwatch]]
  access_key = ""
  secret_key = ""
  region = 'us-west-2'
  period = '1m'
  delay = '3m'
  interval = '3m'
  namespace = 'AWS/RDS'
[[inputs.statsd]]
  protocol = "udp"
  service_address = ":8125"
  delete_gauges = true
  delete_counters = true
  delete_timings = true
  percentiles = [90]
  parse_data_dog_tags = false
  templates = [
     "* measurement.field.field.tenant",
     "* measurement.field*"
  ]
  allowed_pending_messages = 10000
  percentile_limit = 1000
[[inputs.http_response]]
  address = "xxxxxxxxxxxxxxxx"
[[inputs.http_response]]
  address = ""
[[inputs.http_response]]
  address = ""
{% endif %}
{% if 'swarm' in group_names %}
[[inputs.docker]]
  endpoint = "unix:///var/run/docker.sock"
  container_names = []
  timeout = "5s"
  perdevice = true
  total = false
{% endif %}